.form-control{
    width: 50%;
    font-size: 16px;
    height: 40px;
}

.btn{
    width: 50%;
}
@media screen and (max-width:768px){
    .form-control{
    width: 80%;
    font-size: 16px;
    height: 40px;
}
    .btn{
    width: 80%;
}
}
