body {
    font-family: 'Asap';
    letter-spacing: 1px;
    color: black;
}

.icon-bar {
    width: 100%;
    /* Full-width */
    background-color: #e6e6e6;
    /* Dark-grey background */
    overflow: auto;
    border: 2px solid blue;
}

.icon-bar a {
    float: left;
    text-align: center;
    width: 25%;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all 0.2s ease;
    /* Add transition for hover effects */
    color: #0066cc;
    /* White text color */
    font-size: 40px;
    /* Increased font size */
}

.icon-bar a:hover {
    background-color: #d9d9d9;
    color: #004d99;
    /* Add a hover color */
}

.cusContainer {
    padding-top: 10px;
    background-color: #f2f2f2;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.tabLogo {
    font-size: 40px;
}

.nav {
    width: 100%;
}

.nav li a {
    padding: 10px 70px 10px 70px;
}

.mainContainer {
    padding: 5px 20px 10px 60px;
}

.mainContainer2 {
    padding: 5px 30px 10px 30px;
}

@media screen and (max-width:768px) {
    .mainContainer {
        padding: 5px 10px 10px 30px;
    }
    .mainContainer2 {
        padding: 5px 30px 10px 30px;
    }
}

.eachTw {
    height: auto;
    width: 98%;
    margin-bottom: 20px;
    padding: 10px 0px 10px 0px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.line {
    border: 1px groove #e6e6e6;
    height: auto;
    width: 100%;
}

@media screen and (max-width:768px) {
    .eachTw {
        height: auto;
        width: 102%;
        margin-bottom: 20px;
        padding: 10px 0px 10px 0px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    }
}

.col-md-1 .col-xs-2 {
    padding: 0px;
    margin-left: 0px;
}

.postImg {
    border: 1px solid black;
    background-color: orange;
}

.postHeader {
    font-size: 24px;
}

.postHeader a {
    font-size: 24px;
    letter-spacing: 2px;
    text-decoration: none;
}

.postHeader i {
    font-size: 16px;
}

.profilePix {
    border: 2px solid black;
    background-color: white;
}

.profileInfo {
    /*padding-left: 180px;*/
}

.searchWrapper {
    border: 2px solid black;
    width: 70%;
    height: 40px;
    background-color: #f2f2f2;
    outline: 0;
    border-radius: 5px;
}

.txtSearch {
    border: 0;
    width: 80%;
    height: 34px;
    background-color: #f2f2f2;
    outline: 0;
    font-size: 18px;
    padding: 0 2px 0 2px;
    letter-spacing: 1px;
}

.btnSearch {
    float: right;
    font-size: 23px;
    border: 0;
    outline: 0;
    background-color: #f2f2f2;
}

.bSearch {
    width: 60%;
    height: 60%;
}

@media screen and (max-width:768px) {
    .bSearch {
        width: 100%;
        height: 100%;
    }
}

.searchResults {
    display: inline-block;
    padding: 0 25px;
    height: 60px;
    font-size: 16px;
    line-height: 70px;
    border-radius: 35px;
    width: 80%;
    background-color: #bfbfbf;
}

.searchResults img {
    float: left;
    background-color: white;
    margin: 0 10px 0 -25px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.searchResults p {
    float: left;
    margin-top: -5px;
}

.footerBlock {
    color: white;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.aboutIcon {
    font-size: 60px;
    margin-right: 0px;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
